<h2 class="cmn-title">アカウント確認メール再送信</h2>

<%= form_for(resource, as: resource_name, url: user_confirmation_path(resource_name), html: {method: :post}) do |f| %>
	<%= render "users/shared/error_messages", resource: resource %>

	<dl class="cmn-form">
		<dt>
			<%= f.label :email %>
		</dt>
		<dd>
			<%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
		</dd>
	</dl>

	<div class="mgt-20">
		<%= f.submit "送信", class: 'cmn-btn' %>
	</div>
<% end %>

<%= render "users/shared/links" %>
