<%= form_with(model: [:managers, stamp_card], local: true, class: 'stampCardForm') do |form| %>
	<% if stamp_card.errors.any? %>
		<div class="cmn-alert">
			<p class="mgt-0 textBold">スタンプカードの保存に失敗しました。</p>

			<ul>
				<% stamp_card.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<dl class="cmn-form mgt-30">
		<dt class="required">スタンプカード名</dt>
		<dd>
			<%= form.text_field :name, required: true %>
		</dd>
	</dl>
	<dl class="cmn-form">
		<dt class="required">説明文章</dt>
		<dd>
			<%= form.text_area :description, required: true %>
		</dd>
	</dl>
	<dl class="cmn-form">
		<dt class="required">スタンプ数</dt>
		<dd>
			<%= form.number_field :count, class: 'is-short', required: true %>
		</dd>
	</dl>
	<dl class="cmn-form">
		<dt class="required">開催期間</dt>
		<dd>
			<%= form.text_field :start_at, class: 'is-short', required: true %> 〜
			<%= form.text_field :end_at, class: 'is-short', required: true %>
		</dd>
	</dl>

	<div class="cmn-btnContainer col2 mgt-30">
		<%= form.submit '保存する', class: 'cmn-btn' %>
		<%= link_to 'キャンセル', managers_stamp_cards_path, class: 'cmn-btn' %>
	</div>
<% end %>
