<div class="stampCard">
	<p class="stampCard_mainImage">
		<img src="https://placehold.jp/600x400.png">
	</p>
	<h2><%= @stamp_card.name %></h2>
	<p><%= @stamp_card.description %></p>

	<h3>開催期間</h3>
	<p><%= l @stamp_card.start_at %>〜<%= l @stamp_card.end_at %></p>

	<%- if @stamp_card.active? %>
		<label class="cmn-camera mgt-30">
			<i class="fas fa-camera"></i> QRコードを読む
			<input type="file" accept="image/*" capture="environment" data-camera="true">
		</label>
	<%- end %>

	<ul class="stampCard_card mgt-30" id="stampCard" data-id="<%= @stamp_card.id %>">
		<%- @stamp_card.count.times do %>
			<li>
				<%= image_tag asset_path 'miffy.png' %>
				<p class="stampCard_card_date"></p>
			</li>
		<%- end %>
	</ul>
</div>