<h2 class="cmn-title">パスワード変更</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
	<%= render "managers/shared/error_messages", resource: resource %>
	<%= f.hidden_field :reset_password_token %>

	<dl class="cmn-form">
		<dt>
			<%= f.label :password, "新しいパスワード" %>
			<% if @minimum_password_length %>
				(<%= @minimum_password_length %>文字以上)
			<% end %>
		</dt>
		<dd>
			<%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
		</dd>
	</dl>

	<dl class="cmn-form">
		<dt>
			<%= f.label :password_confirmation, "確認用パスワード" %>
		</dt>
		<dd>
			<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
		</dd>
	</dl>

	<div class="mgt-20">
		<%= f.submit "送信", class: 'cmn-btn' %>
	</div>
<% end %>

<%= render "users/shared/links" %>
