<h2 class="cmn-title">アカウントの編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
	<%= render "managers/shared/error_messages", resource: resource %>

	<dl class="cmn-form">
		<dt>
			<%= f.label :email %>
		</dt>
		<dd>
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>現在の確認待ち：<%= resource.unconfirmed_email %></div>
			<% end %>
		</dd>
	</dl>


	<dl class="cmn-form">
		<dt>
			<%= f.label :password %>（変更する場合のみ入力）
		</dt>
		<dd>
			<%= f.password_field :password, autocomplete: "new-password" %>
			<% if @minimum_password_length %>
				<%= @minimum_password_length %>文字以上
			<% end %>
		</dd>
	</dl>

	<dl class="cmn-form">
		<dt>
			<%= f.label :password_confirmation %>
		</dt>
		<dd>
			<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
		</dd>
	</dl>

	<dl class="cmn-form">
		<dt>
			<%= f.label :current_password %>
		</dt>
		<dd>
			<%= f.password_field :current_password, autocomplete: "current-password" %>
		</dd>
	</dl>

	<div class="mgt-20">
		<%= f.submit "更新", class: 'cmn-btn' %>
	</div>
<% end %>

<h3 class="mgt-50">アカウントの削除</h3>
<p>アカウントを削除し、本サービスから退会します。</p>
<div class="mgb-20">
	<%= button_to "削除", registration_path(resource_name), data: {confirm: "本当に削除しますか？"}, method: :delete, class: 'cmn-btn is-gray is-short' %>
</div>