<h2 class="cmn-title">アカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= render "users/shared/error_messages", resource: resource %>

	<dl class="cmn-form">
		<dt>
			<%= f.label :email %>
		</dt>
		<dd>
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		</dd>
	</dl>

	<dl class="cmn-form">
		<dt>
			<%= f.label :password %>
			<% if @minimum_password_length %>(<%= @minimum_password_length %>文字以上)<% end %>
		</dt>
		<dd>
			<%= f.password_field :password, autocomplete: "new-password" %>
		</dd>
	</dl>

	<dl class="cmn-form">
		<dt>
			<%= f.label :password_confirmation %>
		</dt>
		<dd>
			<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
		</dd>
	</dl>

	<div class="mgt-20">
		<%= f.submit "送信", class: 'cmn-btn' %>
	</div>
<% end %>

<%= render "users/shared/links" %>
